
/*-CSS CLASH OF CLAN-*/
*{
    margin: 0;
    padding:0 ;
    overflow-x: hidden;  /* bỏ cuộn ngang*/
    background-color: #FAEBD7;
}


#header-all{
    width: 100%;
    height: auto;
    overflow: hidden;
    
    /* background: linear-gradient(rgba(0,0,0,0.5),#e20b0b), url(images/header.100..jpg);  */
}
.header-1{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0,0,0,0.5),#e20b0b), url(images/header.100..jpg); */
}

.header-photo {
    width: 100%;
    height: 100%;
}

.header-photo img{
    width: 100vw;
    height: auto; 
}

#header-2{
    width: 100%;
    height:auto;
}


.menu{
    width:100%;
    height: auto;
    align-items:flex-end;
   
  
}
ul li{
    list-style: none;
     display:inline-block; 
    margin: 40px auto;
    

}
ul li a {
   
    text-decoration: none;
    margin: 60px 60px;
    color: red;
    font-weight: bold;
    font-size: 23px;
   
   

}
.menu nav ul li a:hover{
    color:#00008B;
}
#introduce{
    width: 100%;
    height:auto;
}
/* .all{
    width: 100%;
    height: auto;
    
} */
.intro-top{
    display: flex;
   align-items:center;
}
.intro-bottom{
    display: flex;
   justify-content: center;
   align-items: center;
}
.logo img{
    width:300px;
    height:210px;
    border-radius: 6px;
  
   margin-right: 60px;
   margin-left: 20px;
   
}
.text-review{
    width: 50%;
    height: auto;
    font-size: 22px;
    
    word-wrap: normal;
    
}
p{
    
    font-weight: bold;
    font-style: italic;
    position: static;
}
.intro-bottom
{
    justify-content:space-around;
    align-items: flex-end;
}
.line-pig img{
    width: 120px;
    height:120px;
    position: static;
    /* margin: 10px 250px; */
    
    

}
.video{
   width: 500px;
    height: auto;   
    margin-bottom: 40px;
    border-radius: 6px;
}


@media screen and (max-width:770px) {
  /*  .header-photo img{
        width: 100%;
        height: auto;
        Không cần thiết
    }*/

    .menu{
        align-items: flex-end;
        margin: 0 auto;
    }

    .menu nav ul li{
        margin: 20px auto;
    }

    .menu  ul li a{
        font-size: 10px;
        /* margin: 0 50px; */
       align-items: center;
    }
   
    .logo img{
        width: 130px;
        height: 80px;
    }

    .text-review p{
        font-size:9px;
       
    }
    
    .line-pig img{
        width: auto;
        height: 65px;
        position: static;
    }

    .video{
        width: 200px;
        height: auto;
        
    }

    
}


#content{
    width: 100%;
    height: auto;
   justify-content: flex-end;
   
   
}
.text-download p{
    font-size: 30px;
    margin: 20px 20px;

}
.content-top{
    width: 20%;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    
    
    
}
.androi{
    margin-left:70px;;
}
.name-androi h2{
    margin: 25px 20px;
    font-size: 30px;
   
}
.link-androi{
    width: 10%;
}
/* .link-androi a{
    text-align: center;
} */
.link-androi a p{
    width: 140px;
    height: 2.6%;
    font-size: 15px;
    color: #fff;
    text-decoration: none;  
    border:.6px solid green;
    border-radius: 20px;
    background-color: green; 
    position: absolute;
    text-align: center;
    padding:10px;
} 

.ios{
     
    margin: 60px 70px;;

}.name-ios h2{
    margin: 25px 55px;
    font-size: 30px;
   
}

.link-ios a p{
    width: 140px;
    height: 2.6%;
    font-size: 15px;
    color: #fff;
    text-decoration: none;  
    border:.6px solid green;
    border-radius: 20px;
    background-color: green; 
    position: absolute;
    text-align: center;
    padding: 10px;
}


.photo-review{
   width: auto;
    word-wrap: normal;
    align-items: flex-start;
    display: flex;
    position: absolute;
    justify-content:flex-end;
    align-items:center;
    
}
.icon-queen img{
    width: 120px;
    height:auto;
  
    
}
.photo-all{
    width: 65%;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;  
    
}
.photo{
    flex-basis: 40%;

    margin-bottom: 20px;
    position: relative;
    border-radius: 4px;

}
.photo img {
    width: 100%;
    border-radius: 4px; 
}

@media screen and (max-width:770px) {

    .text-download p{
        font-size: 15px;
    }
    .name-androi h2 {
        font-size: 13px;
        margin: 0 34px;
    }    
    
    .link-androi a p{
        width: 90px;
        height: 10px;
        font-size: 12px; 
        
        
    }

    .name-ios h2 {
        font-size: 13px;
        margin: 0 46px;
       
    }    
    
    .link-ios a p{
        width: 90px;
        height:  10px;
        font-size: 12px; 
        
        
    }
    .icon-queen img{
        width: auto;
        height:90px;

    }

}


#content-bottom{
    width: 100%;
    margin: 450px 0; 
   
}
.review-worker{
    width: 100%;
    display: flex;
    align-items: center;  
}

.video-bottom{
    width: 600px;
    height: auto;
    display: flex;
    margin: 40px 70px;
    border-radius: 6px;
  
}
.text-worker {
    width: 100%;
    height: auto;
    display: flex;
  
}
.text-worker p{
    font-size: 15px;
    font-style: italic;
    flex-basis: 75%;
    color:#00008B;
    
}

.all-pictures{
    width: 100%;
    display: flex;
    justify-content:space-around;
    
}
.pictures{
    flex: basic 60%;
    position: relative;
    border-radius: 4px;
    padding:0 12px;
 
    
}
.pictures img {
    width: 100%;
    border-radius: 4px; 
    /* display:inline-block; */
   
}

@media screen and (max-width:770px) {
    #content-bottom{
        width: 100%;
        height: auto;
        margin:200px 0;
    }

    .video-bottom{
        width: 300px;
        height: auto;
        display: flex;
        margin: 10px 20px;
        border-radius: 6px;
      
    }

    .text-worker p{
        font-size: 6px;
        font-style: italic;
        flex-basis: 90%;
        color:#00008B;
    }
}

#all-footer{
    width: 20%;
    margin: 5% auto;
}
.footer{
  display: flex;
 
  justify-content: space-evenly;
}

.footer a {
    text-decoration: none;
   
}
.icon-facebook img{
    width: 45px;
    height: auto;
}
.icon-instagram img{
    width: 45px;
    height: auto;
}
.icon-youtube img{
    width: 45px;
    height: auto;
}
.icon-facebook{
    transition: transfom.5s;
}
.icon-facebook:hover{
    transform: translateX(8px);
}
.icon-instagram{
    transition: transfom.5s;
}
.icon-instagram:hover{
    transform: translateX(8px);
}
.icon-youtube{
    transition: transfom.5s;
}
.icon-youtube:hover{
    transform: translateX(8px);
}


@media screen and (max-width:770px) {
    .icon-facebook img{
        width: 22px;
        height: auto;
    }
    .icon-instagram img{
        width: 22px;
        height: auto;
    }
    .icon-youtube img{
        width: 22px;
        height: auto;
    }
   
}