
/*-CSS CLASH OF CLAN-*/
*{
    margin: 0;
    padding:0 ;
    overflow-x: hidden;  /* bỏ cuộn ngang*/
    background-color: #FAEBD7;
}


#header-all{
    width: 100%;
}
.header-1{
    
    width: 100%;
    height: auto;
    
}
.header-photo img{
    width: 100%;
    height: auto;
  

     
}
#header-2{
    width: 100%;
    height:auto;
}


.menu{
    width:100%;
    height: auto;
    align-items:flex-end;
   
  
}
ul li{
    list-style: none;
     display:inline-block; 
    margin: 40px auto;
    

}
ul li a {
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    margin: 60px 60px;
    color: red;
    font-weight: bold;
    font-size: 23px;
   
   

}
.menu nav ul li a:hover{
    color:#00008B;
}
#introduce{
    width: 100%;
    height:100vh;
}
.all{
    width: 100%;
    height: auto;
    
}
.intro-top{
    display: flex;
   align-items: center;
}
.intro-bottom{
    display: flex;
   justify-content: center;
   align-items: center;
}
.logo img{
    width:300px;
    height:210px;
    border-radius: 6px;
   /* margin-top: 20px;
   margin-left: 50px;
   position: absolute; */
   /* z-index: 1; */
   margin-right: 60px;
   margin-left: 30px;
   
}
.text-review{
    width: 50%;
    height: auto;
    font-size: 22px;
    /* margin-top: 50px;
    margin-left: 370px; */
    word-wrap: normal;
    /* position: absolute; */
    /* z-index: 2; */
}
p{
    /* margin-right: 10px; */
    font-weight: bold;
    font-style: italic;
    position: static;
}
.intro-bottom
{
    justify-content:space-around;
    align-items: flex-end;
}
.line-pig img{
    width: 120px;
    height:120px;
    position: static;
    /* margin: 10px 250px; */
    
    

}
.video{
   width: 500px;
    height: auto;   
    margin-bottom: 40px;
}


@media screen and (max-width:770px) {
  /*  .header-photo img{
        width: 100%;
        height: auto;
        Không cần thiết
    }*/

    .menu{
        align-items: flex-end;
        margin: 0 auto;
    }

    .menu nav ul li{
        margin: 0 auto;
    }

    .menu  ul li a{
        font-size: 10px;
       margin: 0 50px;
       align-items: center;
    }
   
    .logo img{
        width: 110px;
        height: 70px;
    }

    .text-review p{
        font-size:7px;
       
     
    }
    .line-pig img{
        max-width:75%;
        height: 95px;
        position: static;
    }

    .video{
        width: 170px;
        height: auto;
    }

    
}

#photo-review{
    width: 100%;
    margin-left: 20%;
}
.photo-all{
    width: 70%;
    display: flex;
    flex-wrap:wrap;
   
    justify-content:space-evenly;
    margin: auto;
}
.photo{
    flex-basis: 35%;

    margin-bottom: 20px;
    position: relative;
    border-radius: 4px;

}
.photo img {
    width: 100%;
    border-radius: 4px;
    
}



/*
#content{
    width: 100%;
    height:100vh;
}
.androi nav ul li{
    font-size: 20px;

}
            */